body {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #71C9CE;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #367bc4;
    color: white;
    text-decoration: none;
    margin-top: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
}

.menu {
  list-style: none;
}

.menu li {
  padding: 12px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.menu li:hover {
  background-color: #f0f0ff;
  color: #2d2db8;
}

.menu li.active {
  background-color: #5b5bd6;
  color: white;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 40px;
  background: #f5f6fa;
}
.leaderboard{
    text-decoration: none;
    color: black;
}

